h1,
h2,
h3 {
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    background-color: pink;
    color: white;
    padding: 10px;
    border: 20px;
    border-radius: 6px;
}

h4 {
    font-size: 130%;
    font-family: Arial, sans-serif;
}

p,
ul,
ol {
    font-family: Arial, sans-serif;
}